# virtual env and it's variables
.env
venv/

# IDE settings ignored files
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/VividMacro.iml
/.idea/workspace.xml