<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid Macro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <main>
        <center>
            <h1>Choose a preferable data source</h1>
            <div class="form fred-form">
                <form action="/plot" method="post">
                    <h2>Use Federal Reserve Economic Data</h2>
                    <label for="series_id"></label>
                    <input type="text" id="series_id" name="series_id" placeholder="Type in series ID">
                    <button type="submit" class="submit-btn">Search</button>
                </form>
            </div>
            <div class="form ascii-form">
                <form action="/plot" method="post">
                    <h2>Use Greenbook Data</h2>
                    <label for="column_name"></label>
                        <select id="column_name" name="column_name">
                            {% for col in columns %}
                                <option value="{{ col }}" SELECTED>{{ col }}</option>
                            {% endfor %}
                        </select>
                    <button type="submit" class="submit-btn">Search</button>
                </form>
            </div>
            <h1>Analyze FRED macroeconomic data</h1>
            <div class="form var-form">
                <form action="/perform_var" method="post" >
                    <h2>Vector Autoregression with Monthly Series</h2>
                    <label for="series1_id"></label>
                    <input type="text" id="series1_id" name="series1_id" placeholder="Type in first series ID"><br><br>
                    <label for="series2_id"></label>
                    <input type="text" id="series2_id" name="series2_id" placeholder="Type in second series ID"><br><br>
                    <button type="submit" class="submit-btn">Build ACF plot</button>
                </form>
            </div>
        </center>
    </main>
</body>
</html>